* {
  box-sizing: border-box;
}

body {
  background-color: #1a1f25;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color .2s;
}
a:hover {
  color: $color-primary;
}
a:focus {
  color: $color-primary;
  outline-color: $color-primary;
}

img {
  display: block;
}

hr {
  border: 0;
  height: 1px;
  opacity: .8;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}

ul.inline-list, ul.inline-list>li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

figure {
  margin: 0;
}
