.content-box {
  width: 75%;
  max-width: 80rem;
  margin: 8rem auto;
  background: #fff;
  color: #383838;
  padding: 3rem 6rem;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);

  animation: fadeIn 1s;
}
