:root {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

/* Markdown */
.post-body {
  font-size: 1.5rem;
}

.post-body p {
  margin-bottom: $paragraph-margin;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-weight: bold;
}

.post-body h1,
.post-body h2,
.post-body h3 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
