/** Definitions **/
/* Animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*****************************************************************************/
/** Global **/

body {
  background: #1a1f25;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: 1.85;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color .2s;
}
a:hover {
  color: #ff4136;
}
a:focus {
  color: #ff4136;
  outline-color: #ff4136;
}

hr {
  border: 0;
  height: 1px;
  opacity: .8;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}

ul.inline-list, ul.inline-list>li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* Container */
.content-box {
  width: 75%;
  max-width: 850px;
  margin: 6rem auto;
  background: #fff;
  color: #383838;
  padding: 30px 60px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);

  animation: fadeIn 1s;
}

/* Button */
.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 4px auto;
  font-size: 14px;
  border: 1px solid;
  border-color: rgba(229,230,233,0.5) rgba(223,224,228,0.5) #d0d1d5;
  border-radius: 3px;
  text-decoration: none;
  background: #fff;
  color: #383838;
  transition: color .2s, background-color .2s, box-shadow .2s;
}
.btn:hover {
  text-decoration: none;
  box-shadow: 0 0 1px 0 rgba(40,40,40,0.5);
}
.btn:focus{
  text-decoration: none;
}

.btn.tag, .btn.social {
  margin: 4px 5px;
  padding: 4px 10px;
  font-size: 12px;
  text-transform: uppercase; 
}
.btn.tag:hover, .btn.social:hover {
  background-color: #d9d9d9;
  color: inherit;
}

/*****************************************************************************/
/** Index **/


/*****************************************************************************/
/** Post list **/

.post-list header {
  text-align: center;
  margin-bottom: 4rem;
}
.post-list header h1 {
  margin: 1em 0 0.7em 0;
  font-weight: bold;
}

.post-list ul {
  list-style: none;
  padding: 0;
}
.post-list li {
  padding: 10px 10px;
  margin: 0 20px 10px 20px;
}

.post-item {
  display: flex;
  align-items: center;
}

.post-item-image {
  margin-right: 20px;
  flex-shrink: 0;
  width: 196px;
  height: 144px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: #fff 5px solid;
  box-shadow: 0 2px 4px #777;
}
.post-item-image a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.post-item-text {
  margin-bottom: 10px;
}

.post-item-title {
  font-weight: bold;
  margin: 10px 0;
}
.post-item-title a {
  text-decoration: none;
}
.post-item-excerpt {
  text-align: justify;
  color: #777;
}

/*****************************************************************************/
/** Post **/

.post-header {
  text-align: center;
  margin-bottom: 4rem;
}
.post-header h1 {
  margin: 1em 0 0.7em 0;
  font-weight: bold;
}
.post-header time {
  display: block;
  margin: 1em 0;
}

.post-header .feature-image {
  padding: 10em 6em;
  margin: -30px -60px 0 -60px;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  color: #efefef;
}

.post-body {
  text-align: justify;
}

/* footer */
.post-tags-share {
  display: flex;
  margin-bottom: 30px;
}

.post-tags {
  flex: 1;
}

/*
.post-author-info {
  display: flex;
}
.post-author-image {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
}
.post-author-text {
  margin-left: 20px;
}
.post-author-name {
  font-size: 1.2em;
  font-weight: bold;
}
*/

/****** Markdown ******/

/* Basic styling */
.kg-card-markdown p {
  margin-bottom: 15px;
}

/* Headings */
.kg-card-markdown h1,
.kg-card-markdown h2,
.kg-card-markdown h3,
.kg-card-markdown h4,
.kg-card-markdown h5,
.kg-card-markdown h6 {
  font-weight: bold;
}

.kg-card-markdown h1,
.kg-card-markdown h2,
.kg-card-markdown h3 {
  margin-top: 25px;
  margin-bottom: 20px;
}

/* Image */
.kg-card-markdown img {
  width: 100%;
}

.post-body .kg-card-markdown img[src$="#full"] {
  margin: 0 -60px;
  width: calc(100% + 120px);
}

/* Table */
.kg-card-markdown table {
  width: 100%;
  line-height: 2.0;
}

.kg-card-markdown tbody {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/* Blockquote */
.kg-card-markdown blockquote {
  padding: 0.5em 1em;
  margin: 0 0 15px;
  font-size: inherit;
  color: rgba(56, 56, 56, .8);
  font-style: italic;
  border-left: 5px solid #383838;
}

/* Footnote */
.kg-card-markdown .footnote-ref a,
.kg-card-markdown .footnote-backref {
  text-decoration: none;
}

/* Code */
.kg-card-markdown :not(pre) code {
  font-size: .8em;
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}

.kg-card-markdown pre {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: .9em;
  background: none;
  border: 0;
}

.kg-card-markdown .hljs {
  background-color: #43423b;
  padding: 1.2em;
}

.kg-card-markdown kbd {
  margin: 0 1px;
  padding: 2px 6px;
  font-size: .8em;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}