.home-full-page {
  width: 100%;
  height: 100vh;
  animation: fadeIn 1s;
}

.home-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  width: 550px;
  height: 480px;
  background: #fff;
  color: #383838;
  padding: 20px 40px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);

  text-align: center;
}

.blog-logo img {
  height: 140px;
}
.blog-title {
  margin: 20px 0;
}
.home-box hr {
  margin: 10px 0;
}
.blog-description {
  font-size: 16px;
}

.home .content-box {
  position: relative;  /* It creates a stacking context */
  animation: none;
}
