.post-header {
  text-align: center;
  margin-bottom: 4rem;
}
.post-header h1 {
  margin: 2rem 0 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.post-header time {
  display: block;
  margin: 1em 0;
}
.post-header .post-reading-time {
  font-size: 0.8rem;
}

.post-header .feature-image {
  padding: 10rem 7rem;
  margin: (-$content-box-padding-top) (-$content-box-padding) 0 (-$content-box-padding);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  border-radius: $content-box-border-radius $content-box-border-radius 0 0;
  color: #efefef;
}

.post-body {
  text-align: justify;
}

/* footer */
.post-tags-share {
  display: flex;
  margin-bottom: 2rem;
}

.post-tags {
  flex: 1;
}

/*
.post-author-info {
  display: flex;
}
.post-author-image {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
}
.post-author-text {
  margin-left: 20px;
}
.post-author-name {
  font-size: 1.2em;
  font-weight: bold;
}
*/
