.post-header {
  text-align: center;
  margin-bottom: 5rem;
}
.post-header h1 {
  margin: 1.2em 0 0.7em 0;
  font-size: 2.2em;
  font-weight: bold;
}
.post-header time {
  display: block;
  margin: 1em 0;
}
.post-header .post-reading-time {
  font-size: 13px;
}

.post-header .feature-image {
  padding: 10em 7.5em;
  margin: -30px -60px 0 -60px;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  color: #efefef;
}

.post-body {
  text-align: justify;
}

/* footer */
.post-tags-share {
  display: flex;
  margin-bottom: 30px;
}

.post-tags {
  flex: 1;
}

/*
.post-author-info {
  display: flex;
}
.post-author-image {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
}
.post-author-text {
  margin-left: 20px;
}
.post-author-name {
  font-size: 1.2em;
  font-weight: bold;
}
*/
