.post-list header {
  text-align: center;
  margin-bottom: 4rem;
}
.post-list header h1 {
  margin: 1em 0 0.7em 0;
  font-weight: bold;
}

.post-list ul {
  list-style: none;
  padding: 0;
}
.post-list li {
  padding: 10px 10px;
  margin: 0 20px 10px 20px;
}

.post-item {
  display: flex;
  align-items: center;
}

.post-item-image {
  margin-right: 20px;
  flex-shrink: 0;
  width: 196px;
  height: 144px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: #fff 5px solid;
  box-shadow: 0 2px 4px #777;
}
.post-item-image a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.post-item-text {
  margin-bottom: 10px;
}

.post-item-title {
  font-weight: bold;
  margin: 10px 0;
}
.post-item-title a {
  text-decoration: none;
}
.post-item-excerpt {
  text-align: justify;
  color: #777;
}
